.specials-list {
  display: flex;
  justify-content: space-between;
}

.specials-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.specials-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

.specials-bg {
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
